# wright.toml

[general]
arch = "x86_64"
plans_dir = "/var/lib/wright/plans"
# extra_plans_dirs = ["/opt/my-plans", "./plans"]
components_dir = "/var/lib/wright/components"
cache_dir = "/var/lib/wright/cache"
db_path = "/var/lib/wright/db/parts.db"
inventory_db_path = "/var/lib/wright/db/inventory.db"
log_dir = "/var/log/wright"
executors_dir = "/etc/wright/executors"
assemblies_dir = "/var/lib/wright/assemblies"

[build]
build_dir = "/var/tmp/wright-build"
default_dockyard = "strict"
ccache = false

[network]
download_timeout = 300
retry_count = 3
