# wright.toml

[general]
arch = "x86_64"
plans_dir = "/var/lib/wright/plans"
# extra_plans_dirs = ["/opt/my-plans", "./plans"]
parts_dir = "/var/lib/wright/parts"
source_dir = "/var/lib/wright/sources"
db_path = "/var/lib/wright/wright.db"
logs_dir = "/var/log/wright"
executors_dir = "/etc/wright/executors"

[build]
build_dir = "/var/tmp/wright-build"
default_isolation = "strict"
ccache = false

[network]
download_timeout = 300
retry_count = 3
